<button class="btn btn-primary bg-gradient bg-opacity-10 shadow-sm px-3" 
(click)="openModal(createModal)">+ Add</button>

<ng-template #createModal let-modal>
  <div class="modal-header bg-primary bg-gradient shadow-sm">
    <h5 class="modal-title w-100 fw-bold text-center text-light">Add Income</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <form class="d-flex flex-column gap-1" [formGroup]="incomeForm">

      <div>
        <label class="form-label">Income Type</label>
        <select class="form-select" formControlName="incomeType">
          <option value="" disabled selected>Choose type...</option>
          @for (income of incomeStreams; track $index) {
          <option [value]="$index">{{ income }}</option>
          }
        </select>

        @if (incomeForm.get('incomeType')?.touched && incomeForm.get('incomeType')?.invalid) {
        <div class="text-danger">
          @if (incomeForm.get('incomeType')?.errors?.['required']) {
          <small>Income type is required</small>
          }
        </div>
        }
      </div>

      <div>
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">

        @if (incomeForm.get('name')?.touched && incomeForm.get('name')?.invalid) {
        <div class="text-danger">
          @if (incomeForm.get('name')?.errors?.['required']) {
          <small>Name is required</small>
          }
          @if (incomeForm.get('name')?.errors?.['minlength']) {
          <small>Name must be at least 3 characters</small>
          }
          @if (incomeForm.get('name')?.errors?.['maxlength']) {
          <small>Name can't be more than 30 characters</small>
          }
          @if (incomeForm.get('name')?.errors?.['pattern']) {
          <small>Only alphanumeric characters are allowed</small>
          }
        </div>
        }
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="autoRepeat" formControlName="autoRepeat">
        <label class="form-check-label" for="autoRepeat">Auto Repeat</label>
      </div>

      <div>
        <label class="form-label">Repeat Interval</label>
        <select class="form-select" formControlName="repeatInterval">
          <option value="" disabled selected>Choose interval...</option>
          @for (interval of timeIntervals; track $index) {
          <option [value]="$index">{{ interval }}</option>
          }
        </select>

        @if (incomeForm.get('repeatInterval')?.touched && incomeForm.get('repeatInterval')?.invalid) {
        <div class="text-danger">
          @if (incomeForm.get('repeatInterval')?.errors?.['required']) {
          <small>Repeat interval is required</small>
          }
        </div>
        }
      </div>

      <div>
        <label class="form-label">Notes</label>
        <textarea class="form-control" formControlName="notes"></textarea>

        @if (incomeForm.get('notes')?.touched && incomeForm.get('notes')?.invalid) {
        <div class="text-danger">
          @if (incomeForm.get('notes')?.errors?.['maxlength']) {
          <small>Notes cannot exceed 500 characters</small>
          }
        </div>
        }
      </div>
    </form>
  </div>

  <div class="modal-footer bg-primary-subtle bg-gradient border-primary-subtle">
    <button type="button" class="btn btn-secondary shadow-sm" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary bg-gradient bg-opacity-50 shadow-sm"
      (click)="onSubmit(modal)">Add</button>
  </div>
</ng-template>